<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include templates/header.ejs %>
  <h3> About</h3>
   <p> Hi ! yOU KNOW i AM AWESOME :) </P>
   <hi> <%=name %> </h1>
  </body>
</html>
